/* ************************************************************************* **
 * css reset
 * ************************************************************************* */
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
body,
dl,
dd,
ul,
h1,
h2,
h3,
p {
    margin: 0;
}
ul {
    padding: 0;
}
ul {
    list-style: none;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both; }
/* ************************************************************************* **
 * skin
 * ************************************************************************* */
 /* é›· */
#thunder {background: #673a87 url(../../images/skin/thunder.jpg?v=2015-12-30) no-repeat center top;}
/* éœ¾     */
#haze {background: #c8976a url(../../images/skin/haze.jpg?v=2015-12-30) no-repeat center top;}
/* æ²™å°˜æš´ */
#sandstorm {background: #eba768 url(../../images/skin/sandstorm.jpg?v=2015-12-30) no-repeat center top;}
/* é›¾     */
#fog {background: #eba768 url(../../images/skin/fog.jpg?v=2015-12-30) no-repeat center top;}
/* é›ª     */
#snow {background: #eba768 url(../../images/skin/snow.jpg?v=2015-12-30) no-repeat center top;}
/* é›¨å¤©   */
#rain {background: #eba768 url(../../images/skin/rain.jpg?v=2015-12-30) no-repeat center top;}
/* é˜´å¤©   */
#overcast {background: #eba768 url(../../images/skin/overcast.jpg?v=2015-12-30) no-repeat center top;}
/* å¤šäº‘   */
#cloudy {background: #eba768 url(../../images/skin/cloudy.jpg?v=2015-12-30) no-repeat center top;}
/* å¤œæ™š   */
#night {background: #eba768 url(../../images/skin/night.jpg?v=2015-12-30) no-repeat center top;}
/* æ™´å¤©   */
#sunny {background: #eba768 url(../../images/skin/sunny.jpg?v=2015-12-30) no-repeat center top;}
